*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('/images/backco.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.upperdiv{
    display: flex;
    justify-content: center;
    border: 2px solid rgb(8, 10, 14);
    position: relative;
    top: 300px;
}
/* .loginsign{
    display:flex;
    flex-direction: column;
} */

.lowerdiv{
    margin: 16px;


}
.adjectoflogin{
    margin: 57px;
}

.upperdiv .lowerdiv form{
    display: flex;
    flex-direction: column;
    
}

.loginbuttons{
    display: flex;
    justify-content: center;
    position: relative;
    top: 320px;

}
.loginbuttons div{
    margin: 0 112px 0 74px;
}